.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  display: flex;
  width: 1000px;
  height: 600px;
  background-color: #ECEFF1;
}

.record-list {
  flex: 1;
  height: 600px;
}

.record-title {
  font-size: 30px;
  color: #212121;
  height: 50px;
}

.divider {
  width: 150px;
  border: 1px solid #B0BEC5;
  margin: 0 auto;
}

.list {
  height: 490px;
  overflow-y: auto;
  color: #424242;
}

input {
  height: 20px;
}

ul {
  text-align: left;
  font-size: 18px;
}